This script will process the vehicle positions in the raw data directory

In [1]:
import pandas as pd
import requests

scada = requests.get('http://api.metrocloudalliance.com/realtime/scada/')
data = scada.json()

df = pd.DataFrame(data)
df.head()

,ave_update_freq,carrier,direction,heading,last_report_ts,last_update,last_update_ts,lat,lng,pattern,realtime_source_id,realtime_source_type_id,route,source,status,vehicle_id
0,18,MT,,180,1546147539,2018-12-29 20:26:07,1546143967,34.022733,-118.33631,,3,6,,LACMTA Rail SCADA,online,658
1,25,MT,,180,1544621021,2018-12-12 04:23:57,1544617437,34.152505,-118.10424,,3,6,,LACMTA Rail SCADA,online,156
2,141,MT,,0,1545934311,2018-12-27 09:12:07,1545930727,33.768467,-118.193673,,3,6,,LACMTA Rail SCADA,online,607
3,0,MT,,180,1545942201,2018-12-27 11:23:38,1545938618,33.788038,-118.189355,,3,6,,LACMTA Rail SCADA,online,619
4,65,MT,,0,1545953607,2018-12-27 14:33:51,1545950031,33.836117,-118.20725,,3,6,,LACMTA Rail SCADA,online,632

In [2]:
df

,ave_update_freq,carrier,direction,heading,last_report_ts,last_update,last_update_ts,lat,lng,pattern,realtime_source_id,realtime_source_type_id,route,source,status,vehicle_id
0,18,MT,,180,1546147539,2018-12-29 20:26:07,1546143967,34.022733,-118.33631,,3,6,,LACMTA Rail SCADA,online,658
1,25,MT,,180,1544621021,2018-12-12 04:23:57,1544617437,34.152505,-118.10424,,3,6,,LACMTA Rail SCADA,online,156
2,141,MT,,0,1545934311,2018-12-27 09:12:07,1545930727,33.768467,-118.193673,,3,6,,LACMTA Rail SCADA,online,607
3,0,MT,,180,1545942201,2018-12-27 11:23:38,1545938618,33.788038,-118.189355,,3,6,,LACMTA Rail SCADA,online,619
4,65,MT,,0,1545953607,2018-12-27 14:33:51,1545950031,33.836117,-118.20725,,3,6,,LACMTA Rail SCADA,online,632
5,2,MT,,180,1546018157,2018-12-28 08:29:31,1546014571,34.023863,-118.34501,,3,6,,LACMTA Rail SCADA,online,664
6,121,MT,,0,1546153260,2018-12-29 22:01:14,1546149674,33.830914,-118.203232,,3,6,,LACMTA Rail SCADA,online,113
7,0,MT,,180,1544783670,2018-12-14 01:34:49,1544780089,34.01988,-118.243048,,3,6,,LACMTA Rail SCADA,online,639
8,24,MT,,0,1546153614,2018-12-29 22:14:48,1546150488,34.136919,-117.891003,,3,6,,LACMTA Rail SCADA,online,412
9,0,MT,,0,1545314617,2018-12-20 05:03:49,1545311029,33.836117,-118.20725,,3,6,,LACMTA Rail SCADA,online,642
10,176,MT,,180,1545960032,2018-12-27 16:20:57,1545956457,34.029358,-118.464429,,3,6,,LACMTA Rail SCADA,online,649
11,222,MT,,180,1545979524,2018-12-27 21:45:45,1545975945,34.029358,-118.464429,,3,6,,LACMTA Rail SCADA,online,683
12,294,MT,,0,1545943275,2018-12-27 11:41:32,1545939692,33.768467,-118.193673,,3,6,,LACMTA Rail SCADA,online,620
13,35,MT,,180,1546169101,2018-12-30 02:25:54,1546165554,34.036743,-118.425307,,3,6,,LACMTA Rail SCADA,online,660
14,114,MT,,180,1546018306,2018-12-28 08:32:03,1546014723,34.13512,-117.909084,,3,6,,LACMTA Rail SCADA,online,418
15,0,MT,,0,1544777423,2018-12-13 23:50:45,1544773845,34.04905,-118.258417,,3,6,,LACMTA Rail SCADA,online,635
16,0,MT,,180,1544322219,2018-12-11 07:44:36,1544543076,34.152505,-118.10424,,3,6,,LACMTA Rail SCADA,online,648
17,44,MT,,0,1545976941,2018-12-27 21:02:39,1545973359,34.030517,-118.458782,,3,6,,LACMTA Rail SCADA,online,678
18,92,MT,,0,1546021445,2018-12-28 09:25:12,1546017912,34.151845,-118.132701,,3,6,,LACMTA Rail SCADA,online,414
19,0,MT,,0,1544785738,2018-12-14 02:09:14,1544782154,34.053178,-118.237752,,3,6,,LACMTA Rail SCADA,online,643
20,20,MT,,0,1546147558,2018-12-29 20:26:17,1546143977,34.12906,-117.932574,,3,6,,LACMTA Rail SCADA,online,409
21,49,MT,,270,1546017062,2018-12-28 08:11:24,1546013484,33.929726,-118.375361,,3,6,,LACMTA Rail SCADA,online,344
22,6,MT,,0,1546169269,2018-12-30 02:28:05,1546165685,34.110365,-118.194177,,3,6,,LACMTA Rail SCADA,online,411
23,0,MT,,0,1545941639,2018-12-27 11:14:12,1545938052,33.768467,-118.193673,,3,6,,LACMTA Rail SCADA,online,618
24,38,MT,,0,1546022091,2018-12-28 09:35:15,1546018515,34.136775,-117.899979,,3,6,,LACMTA Rail SCADA,online,415
25,0,MT,,0,1545951341,2018-12-27 13:55:56,1545947756,34.044346,-118.262752,,3,6,,LACMTA Rail SCADA,online,625
26,0,MT,,0,1545314909,2018-12-20 05:08:43,1545311323,34.132444,-117.988407,,3,6,,LACMTA Rail SCADA,online,644
27,0,MT,,180,1545936570,2018-12-27 09:49:49,1545932989,34.016112,-118.489141,,3,6,,LACMTA Rail SCADA,online,610
28,54,MT,,180,1544774744,2018-12-13 23:06:05,1544771165,33.923441,-118.235169,,3,6,,LACMTA Rail SCADA,online,627
29,140,MT,,0,1544772946,2018-12-13 22:36:01,1544769361,34.029358,-118.464429,,3,6,,LACMTA Rail SCADA,online,623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,210,MT,,0,1545659526,2018-12-24 04:52:21,1545655941,34.132444,-117.988407,,3,6,None,LACMTA Rail SCADA,online,179
339,0,MT,,180,1545092584,2018-12-17 15:23:25,1545089005,33.788038,-118.189355,,3,6,None,LACMTA Rail SCADA,online,163
340,0,MT,,0,1545115293,2018-12-24 05:52:35,1545659555,34.029358,-118.464429,,3,6,None,LACMTA Rail SCADA,online,193
341,0,MT,,0,1545109200,2018-12-17 20:00:21,1545105621,34.029358,-118.464429,,3,6,None,LACMTA Rail SCADA,online,185
342,0,MT,,0,1544621211,2018-12-12 04:27:10,1544617630,34.132444,-117.988407,,3,6,None,LACMTA Rail SCADA,online,160
343,296,MT,,0,1538554915,2018-10-03 01:22:10,1538554930,33.894726,-118.369312,,3,6,None,LACMTA Rail SCADA,online,369
344,0,MT,,180,1545093788,2018-12-17 15:43:21,1545090201,34.037881,-118.268147,,3,6,None,LACMTA Rail SCADA,online,173
345,130,MT,,0,1545884262,2018-12-26 19:23:29,1545881009,34.029936,-118.261978,,3,6,None,LACMTA Rail SCADA,online,490
346,0,MT,,270,1540271306,2018-10-22 22:08:59,1540271339,0,0,,3,6,None,LACMTA Rail SCADA,online,366
347,84,MT,,270,1543560135,2018-11-29 21:42:27,1543556547,33.922277,-118.387578,,3,6,None,LACMTA Rail SCADA,online,302
348,0,MT,,0,1544544401,2018-12-11 07:07:04,1544540824,34.029358,-118.464429,,3,6,None,LACMTA Rail SCADA,online,637
349,0,MT,,0,1545103578,2018-12-17 18:26:37,1545099997,34.132444,-117.988407,,3,6,None,LACMTA Rail SCADA,online,178
350,165,MT,,180,1545327794,2018-12-20 08:43:35,1545324215,34.147842,-118.080033,,3,6,None,LACMTA Rail SCADA,online,189
351,291,MT,,180,1545122890,2018-12-17 23:48:49,1545119329,34.130966,-117.922589,,3,6,None,LACMTA Rail SCADA,online,181
352,153,MT,,0,1544119749,2018-12-06 09:09:26,1544116166,33.768467,-118.193673,,3,6,None,LACMTA Rail SCADA,online,151
353,0,MT,,0,1545983473,2018-12-27 22:51:28,1545979888,33.833197,-118.204487,,3,6,None,LACMTA Rail SCADA,online,695
354,0,MT,,0,1545331169,2018-12-27 20:39:40,1545971980,34.029358,-118.464429,,3,6,None,LACMTA Rail SCADA,online,675
355,0,MT,,0,1545131183,2018-12-18 02:06:39,1545127599,34.029936,-118.261978,,3,6,None,LACMTA Rail SCADA,online,157
356,0,MT,,0,1543452462,2018-11-28 15:48:00,1543448880,34.003954,-118.243344,,3,6,None,LACMTA Rail SCADA,online,169
357,51,MT,,90,1539358864,2018-10-12 08:49:22,1539359362,33.914007,-118.104927,,3,6,None,LACMTA Rail SCADA,online,347
358,0,MT,,0,1543445755,2018-11-28 13:56:15,1543442175,0,0,,3,6,None,LACMTA Rail SCADA,online,348
359,0,MT,,0,1541417866,2018-11-05 02:38:08,1541414288,0,0,,3,6,None,LACMTA Rail SCADA,online,340
360,63,MT,,270,1540442935,2018-10-24 21:49:58,1540442998,0,0,,3,6,None,LACMTA Rail SCADA,online,360
361,0,MT,,270,1544218436,2018-12-07 12:50:42,1544215842,0,0,,3,6,None,LACMTA Rail SCADA,online,320
362,0,MT,,270,1545401550,2018-12-21 05:12:51,1545397971,34.055762,-118.233659,,3,6,None,LACMTA Rail SCADA,online,230
363,294,MT,,270,1540459328,2018-10-25 02:27:20,1540459640,0,0,,3,6,None,LACMTA Rail SCADA,online,322
364,289,MT,,270,1544214756,2018-12-07 12:35:39,1544214939,0,0,,3,6,None,LACMTA Rail SCADA,online,368
365,0,MT,,270,1543171228,2018-11-25 11:03:08,1543172588,34.168504,-118.376808,,3,6,None,LACMTA Rail SCADA,online,200
366,0,MT,,270,1542472411,2018-11-17 07:34:20,1542468860,0,0,,3,6,None,LACMTA Rail SCADA,online,394
367,0,MT,,270,1544496701,2018-12-10 17:51:48,1544493108,34.055762,-118.233659,,3,6,None,LACMTA Rail SCADA,online,272

In [3]:
from ..performance_tracker.analyzer.gtfs import load_and_parse_schedule

ValueError: attempted relative import beyond top-level package